@font-face {
    font-family: 'exoticamedium';
    src: url('/assets/exotica-webfont.eot');
    src: url('/assets/exotica-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/exotica-webfont.woff2') format('woff2'),
         url('/assets/exotica-webfont.woff') format('woff'),
         url('/assets/exotica-webfont.ttf') format('truetype'),
         url('/assets/exotica-webfont.svg#exoticamedium') format('svg');
    font-weight: normal;
    font-style: normal;

}